<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gradient Gen</title>
    <style>
        .area {
            width: 100%;
            height: 100px;
        }
    </style>

    <!-- JS -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- /JS -->
</head>
<body>
   <div id="app">
       <h1>{{ title }}</h1>
       <hr>
       <form>
           <label> Color 1:
                <input v-model="firstColor" type="color">
           </label>
           <label> Color 2:
                <input v-model="secondColor" type="color">
           </label>

           <p> HEX1: {{ firstColor }}</p>
           <p> HEX1: {{ secondColor }}</p>

           <form>
               <label>
                   <input :value="setColor" type="text">
               </label>
           </form>
           <br>
           <div class="area" :style="setColor"></div>
       </form>
   </div>

   <script src="./js/main.js"></script>
   <script src="./js/mountApp.js"></script>
</body>
</html>