<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularios</title>

    <!-- JS -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- /JS -->
</head>
<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <form>
            <input v-model.trim="data.name" placeholder="Nombre" type="text">

            <input v-model.number="data.age" min="15" max="100" type="number">

            <hr>

            <h2>Lenguajes Favoritos</h2>
            <input v-model="data.langs" value="js" id="js" type="checkbox">
            <label for="js">JavaScript</label>

            <input v-model="data.langs" value="php" id="php" type="checkbox">
            <label for="php">PHP</label>

            <input v-model="data.langs" value="py" id="py" type="checkbox">
            <label for="py">Python</label>

            <h2>Género</h2>
            <input v-model="data.gener" value="m" id="man" type="radio">
            <label for="man">Hombre</label>

            <input v-model="data.gener" value="f" id="woman" type="radio">
            <label for="woman">Mujer</label>
        </form>

        <p>
            {{ data }}
        </p>
    </div>

    <script src="./js/main.js"></script>
    <script src="./js/mountApp.js"></script>
</body>
</html>